footer.mobile {
    display: none;
}

ul,
body,
html {
    margin: 0;
    padding: 0;
}

footer {
    min-height: 343px;
    background-color: #F0F0FF;
    margin-top: 70px;
}

.footer .columns_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.25fr 0.5fr 1.25fr;
    grid-gap: 50px;
}

.footer .underlogo {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4A4D4A;

}

.footer .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #4A4D4A;
}

.footer .menu_footer li {
    list-style-type: none;
    margin: 17px 0;

}

.footer .menu_footer a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #4A4D4A;

}



.footer .icons_footer li {
    list-style-type: none;
    margin: 13px 0;
    margin-top: 0;
}

.footer .icon_text a {
    margin-left: 10px;
    font-size: 18px;
    color: #4A4D4A;
    font-weight: normal;
}

.footer .icon_text.email a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

}
.footer .icon_text.geoposition a {
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;

}
.footer .icon_text.geoposition span {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-left: 30px;

}
.footer .visa_mc{
    display: flex;
    text-align: right;
    justify-content: right;
}
footer .footer{
    padding: 30px 0;
    box-sizing: border-box;
}

footer.mobile .heading {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 123.4%;
    text-transform: uppercase;
    color: #4A4D4A;

}

footer.mobile .menu_footer li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 123.4%;
    color: #4A4D4A;
}



footer.mobile .menu_footer li {
    margin: 5px 0;
}

footer.mobile .burger {
    text-align: right;
}

footer.mobile .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}



footer.mobile .razd {
    margin-top: 15px
}

footer.mobile .icons_footer {
    text-align: center;
}

.c {
    text-align: center;
}

footer.mobile .visa_mc {
    display: block;
    text-align: center;
    margin-top: 20px;
}